docs/n8n_workflow_contestacao_runtimefix.json
[
  {
    "updatedAt": "2026-03-26T00:42:33.000Z",
    "createdAt": "2026-03-24T21:14:59.979Z",
    "id": "WF_AUTOJURI_CONTESTACAO",
    "name": "AutoJuri - Webhook Contestacao v2",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "contestacao",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "node-webhook-contestacao",
        "name": "Webhook Contestacao",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "webhookId": "autojuri-contestacao-webhook",
        "position": [
          220,
          280
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const input = $input.first()?.json || {};\nconst payload = input.body && typeof input.body === 'object' ? input.body : input;\n\nconst normalize = (value, fallback = '') => {\n  if (value === null || value === undefined) return fallback;\n  const text = String(value).trim();\n  return text || fallback;\n};\n\nconst readEnv = (key, fallback = '') => {\n  try {\n    const envObject = typeof $env === 'object' && $env ? $env : null;\n    if (envObject) {\n      const envValue = envObject[key];\n      if (envValue !== undefined && envValue !== null) {\n        return normalize(envValue, fallback);\n      }\n    }\n  } catch {\n    // n8n task runner pode bloquear acesso ao $env\n  }\n\n  try {\n    if (typeof process !== 'undefined' && process && process.env) {\n      const processValue = process.env[key];\n      if (processValue !== undefined && processValue !== null) {\n        return normalize(processValue, fallback);\n      }\n    }\n  } catch {\n    // alguns runtimes nao expÃƒÂµem process/env\n  }\n\n  return fallback;\n};\n\nconst safeInt = (value, fallback = 0) => {\n  const parsed = Number.parseInt(String(value ?? ''), 10);\n  return Number.isFinite(parsed) ? parsed : fallback;\n};\n\nconst clip = (value, max = 12000) => {\n  const text = normalize(value);\n  return text.length > max ? text.slice(0, max) : text;\n};\n\nconst splitUserPoints = (text, maxItems = 10) => {\n  const raw = clip(text, 12000);\n  if (!raw) return [];\n\n  const lines = raw\n    .split(/\\r?\\n/)\n    .map((line) => line.replace(/^[-*\\d.)\\s]+/, '').trim())\n    .filter(Boolean);\n\n  const unique = [];\n  for (const line of lines) {\n    if (!unique.includes(line)) unique.push(line);\n    if (unique.length >= maxItems) break;\n  }\n  return unique;\n};\n\nconst numeroProcesso = normalize(payload.numero_processo);\nconst autor = normalize(payload.autor);\nconst reu = normalize(payload.reu, 'Nao informado');\nconst tipoAcao = normalize(payload.tipo_acao);\nconst fatos = clip(payload.fatos, 12000);\nconst pedidoAutor = clip(payload.pedido_autor, 8000);\nconst textoEditadoAoVivo = clip(payload.texto_editado_ao_vivo, 12000);\n\nconst arquivoNome = normalize(payload.arquivo_base_nome || payload.arquivo_base);\nconst arquivoMime = normalize(payload.arquivo_base_mime_type, 'application/octet-stream');\nconst arquivoTamanhoBytes = safeInt(payload.arquivo_base_tamanho_bytes, 0);\nconst arquivoConteudoBase64 = normalize(payload.arquivo_base_conteudo_base64);\n\nconst modeloMaeTexto = clip(\n  payload.modelo_mae_texto || readEnv('MODELO_MAE_CONTESTACAO'),\n  15000,\n);\n\nconst inferTextFromFile = () => {\n  if (!arquivoConteudoBase64) return '';\n\n  const lowerName = arquivoNome.toLowerCase();\n  const isTextLike =\n    arquivoMime.startsWith('text/') ||\n    /\\.(txt|md|json|csv|xml|html|htm|rtf)$/i.test(lowerName);\n\n  if (!isTextLike) return '';\n\n  try {\n    return Buffer.from(arquivoConteudoBase64, 'base64')\n      .toString('utf8')\n      .replace(/\\0/g, '')\n      .slice(0, 15000);\n  } catch {\n    return '';\n  }\n};\n\nconst textoPeticaoBase = inferTextFromFile();\nconst pontosUsuario = splitUserPoints(textoEditadoAoVivo, 10);\n\nconst errors = [];\nif (!numeroProcesso) errors.push('numero_processo obrigatorio');\nif (!autor) errors.push('autor obrigatorio');\nif (!tipoAcao) errors.push('tipo_acao obrigatorio');\nif (!fatos) errors.push('fatos obrigatorio');\nif (!pedidoAutor) errors.push('pedido_autor obrigatorio');\n\nconst cnjRegex = /^\\d{7}-\\d{2}\\.\\d{4}\\.\\d\\.\\d{2}\\.\\d{4}$/;\nif (numeroProcesso && !cnjRegex.test(numeroProcesso)) {\n  errors.push('numero_processo fora do padrao CNJ 0001234-56.2026.8.00.0000');\n}\n\nif (arquivoNome && !arquivoConteudoBase64) {\n  errors.push('arquivo_base_conteudo_base64 obrigatorio quando arquivo_base_nome for enviado');\n}\n\nif (arquivoConteudoBase64 && !arquivoNome) {\n  errors.push('arquivo_base_nome obrigatorio quando arquivo_base_conteudo_base64 for enviado');\n}\n\nif (arquivoTamanhoBytes > 10 * 1024 * 1024) {\n  errors.push('arquivo_base excede o tamanho maximo de 10MB');\n}\n\nif (arquivoNome && !/\\.(pdf|doc|docx|txt|md|rtf)$/i.test(arquivoNome)) {\n  errors.push('arquivo_base deve ser PDF, DOC, DOCX, TXT, MD ou RTF');\n}\n\nconst regrasAplicadas = [\n  'Trigger webhook POST /contestacao ativo',\n  'Validacao de campos obrigatorios e formato CNJ',\n  'Normalizacao de payload para o agente de IA',\n  'Leitura de contexto do usuario (texto_editado_ao_vivo)',\n  'Suporte a modelo-mae (payload ou env MODELO_MAE_CONTESTACAO)',\n  'Leitura best-effort de peticao base textual (quando arquivo for texto)',\n];\n\nif (errors.length) {\n  return [\n    {\n      json: {\n        status: 'erro_validacao',\n        mensagem: 'Falha de validacao no trigger Webhook Contestacao.',\n        erros: errors,\n        regras_aplicadas: regrasAplicadas,\n        gatilhos_acionados: [{ tipo: 'webhook', metodo: 'POST', path: 'contestacao' }],\n        recebido_em: new Date().toISOString(),\n      },\n    },\n  ];\n}\n\nreturn [\n  {\n    json: {\n      status: 'entrada_validada',\n      mensagem: 'Entrada validada para processamento do agente de IA.',\n      regras_aplicadas: regrasAplicadas,\n      gatilhos_acionados: [{ tipo: 'webhook', metodo: 'POST', path: 'contestacao' }],\n      contexto: {\n        numero_processo: numeroProcesso,\n        autor,\n        reu,\n        tipo_acao: tipoAcao,\n        fatos,\n        pedido_autor: pedidoAutor,\n        texto_editado_ao_vivo: textoEditadoAoVivo,\n        modo_ia: normalize(payload.modo_ia),\n        openai_free_test_mode: payload.openai_free_test_mode === true || String(payload.openai_free_test_mode || '').toLowerCase() === 'true',\n        pontos_usuario: pontosUsuario,\n        modelo_mae_texto: modeloMaeTexto,\n        arquivo_base: {\n          nome: arquivoNome,\n          mime_type: arquivoMime,\n          tamanho_bytes: arquivoTamanhoBytes,\n          conteudo_texto: textoPeticaoBase,\n        },\n      },\n      recebido_em: new Date().toISOString(),\n    },\n  },\n];"
        },
        "id": "node-orquestrador-regras",
        "name": "Orquestrador Regras Contestacao",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          420,
          280
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const envelope = $input.first()?.json || {};\n\nif (envelope.status === 'erro_validacao') {\n  return [{ json: envelope }];\n}\n\nconst contexto = envelope.contexto && typeof envelope.contexto === 'object' ? envelope.contexto : {};\nconst textoLivre = `${contexto.texto_editado_ao_vivo || ''} ${contexto.fatos || ''}`.toLowerCase();\n\nconst prioridade = /urgente|liminar|prazo hoje|prazo final|24h|48h/.test(textoLivre)\n  ? 'alta'\n  : /prioridade media|sem urgencia/.test(textoLivre)\n  ? 'media'\n  : 'normal';\n\nconst complexidade = (contexto.fatos || '').length > 2500 || (contexto.pontos_usuario || []).length >= 6\n  ? 'alta'\n  : (contexto.fatos || '').length > 900\n  ? 'media'\n  : 'baixa';\n\nconst categoria = (contexto.tipo_acao || '').trim() || 'Nao informado';\nconst scoreRisco = (prioridade === 'alta' ? 50 : prioridade === 'media' ? 30 : 15) + (complexidade === 'alta' ? 35 : complexidade === 'media' ? 20 : 10);\n\nconst regras = Array.isArray(envelope.regras_aplicadas) ? envelope.regras_aplicadas : [];\nregras.push('Classificacao de prioridade e complexidade da entrada');\nregras.push('Auditoria de versao do workflow v2');\n\nreturn [\n  {\n    json: {\n      ...envelope,\n      regras_aplicadas: regras,\n      classificacao: {\n        prioridade,\n        complexidade,\n        categoria,\n        score_risco: Math.min(scoreRisco, 100),\n      },\n      auditoria_execucao: {\n        workflow_version: 'v2.0.0',\n        classificado_em: new Date().toISOString(),\n      },\n    },\n  },\n];"
        },
        "id": "node-classificador-entrada",
        "name": "Classificador Entrada Contestacao",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          535,
          280
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const envelope = $input.first()?.json || {};\n\nif (envelope.status === 'erro_validacao') {\n  return [{ json: envelope }];\n}\n\nconst contexto = envelope.contexto && typeof envelope.contexto === 'object' ? envelope.contexto : {};\nconst classificacaoEntrada = envelope.classificacao && typeof envelope.classificacao === 'object' ? envelope.classificacao : {};\nconst auditoriaExecucao = envelope.auditoria_execucao && typeof envelope.auditoria_execucao === 'object' ? envelope.auditoria_execucao : {};\n\nconst normalize = (value, fallback = '') => {\n  if (value === null || value === undefined) return fallback;\n  const text = String(value).trim();\n  return text || fallback;\n};\n\nconst readEnv = (key, fallback = '') => {\n  try {\n    const envObject = typeof $env === 'object' && $env ? $env : null;\n    if (envObject) {\n      const envValue = envObject[key];\n      if (envValue !== undefined && envValue !== null) {\n        return normalize(envValue, fallback);\n      }\n    }\n  } catch {\n    // n8n task runner pode bloquear acesso ao $env\n  }\n\n  try {\n    if (typeof process !== 'undefined' && process && process.env) {\n      const processValue = process.env[key];\n      if (processValue !== undefined && processValue !== null) {\n        return normalize(processValue, fallback);\n      }\n    }\n  } catch {\n    // alguns runtimes nao expÃƒÂµem process/env\n  }\n\n  return fallback;\n};\n\nconst clip = (value, max = 16000) => {\n  const text = normalize(value);\n  return text.length > max ? text.slice(0, max) : text;\n};\n\nconst numeroProcesso = normalize(contexto.numero_processo);\nconst autor = normalize(contexto.autor);\nconst reu = normalize(contexto.reu, 'Nao informado');\nconst tipoAcao = normalize(contexto.tipo_acao);\nconst fatos = clip(contexto.fatos, 12000);\nconst pedidoAutor = clip(contexto.pedido_autor, 8000);\nconst textoEditado = clip(contexto.texto_editado_ao_vivo, 12000);\nconst pontosUsuario = Array.isArray(contexto.pontos_usuario)\n  ? contexto.pontos_usuario.map((item) => normalize(item)).filter(Boolean).slice(0, 10)\n  : [];\nconst modeloMaeTexto = clip(contexto.modelo_mae_texto, 15000);\nconst textoPeticaoBase = clip(contexto?.arquivo_base?.conteudo_texto, 15000);\nconst arquivoNome = normalize(contexto?.arquivo_base?.nome);\n\nconst regrasAplicadas = Array.isArray(envelope.regras_aplicadas)\n  ? [...envelope.regras_aplicadas]\n  : [];\nregrasAplicadas.push('Aplicacao de regras juridicas de contestacao civil');\nregrasAplicadas.push('Priorizacao dos pontos pedidos pelo usuario');\nregrasAplicadas.push('Uso de modelo-mae quando disponivel');\nregrasAplicadas.push('Persistencia de dados delegada ao backend PostgreSQL/Supabase');\n\nconst gatilhosAcionados = Array.isArray(envelope.gatilhos_acionados)\n  ? envelope.gatilhos_acionados\n  : [{ tipo: 'webhook', metodo: 'POST', path: 'contestacao' }];\n\nconst OPENAI_API_KEY = normalize(\n  readEnv('OPENAI_API_KEY') || readEnv('OPENAI_KEY') || readEnv('OPENAI_SECRET_KEY'),\n);\nconst OPENAI_MODEL = normalize(\n  readEnv('OPENAI_MODEL') || readEnv('OPENAI_RESPONSES_MODEL') || readEnv('OPENAI_CHAT_MODEL'),\n  'gpt-5.4',\n);\nconst OPENAI_BASE_URL = normalize(\n  readEnv('OPENAI_BASE_URL') || readEnv('OPENAI_API_BASE_URL'),\n  'https://api.openai.com/v1',\n).replace(/\\/+$/, '');\nconst OPENAI_MAX_OUTPUT_TOKENS = Math.max(\n  700,\n  Number.parseInt(readEnv('OPENAI_MAX_OUTPUT_TOKENS', '2600'), 10) || 2600,\n);\nconst OPENAI_TIMEOUT_MS = Math.max(\n  10000,\n  Number.parseInt(readEnv('OPENAI_TIMEOUT_MS', '35000'), 10) || 35000,\n);\nconst OPENAI_TEMPERATURE_RAW = Number.parseFloat(readEnv('OPENAI_TEMPERATURE', '0.12'));\nconst OPENAI_TEMPERATURE = Number.isFinite(OPENAI_TEMPERATURE_RAW)\n  ? Math.min(Math.max(OPENAI_TEMPERATURE_RAW, 0), 1)\n  : 0.12;\nconst DB_PROVIDER = normalize(readEnv('CONTESTACAO_DB_PROVIDER'), 'backend_postgresql_supabase');\nconst DB_TABLE = normalize(readEnv('CONTESTACAO_DB_TABLE'), 'contestacoes');\nconst DB_STATUS_FIELD = normalize(readEnv('CONTESTACAO_DB_STATUS_FIELD'), 'status');\nconst requestedMode = normalize(contexto.modo_ia).toLowerCase();\nconst payloadFreeTestMode = contexto.openai_free_test_mode === true || requestedMode === 'teste_gratis';\nconst envFreeTestMode = normalize(readEnv('OPENAI_FREE_TEST_MODE'), 'false').toLowerCase() === 'true';\nconst OPENAI_FREE_TEST_MODE = payloadFreeTestMode || envFreeTestMode;\n\nconst buildFallbackDraft = (reason = 'fallback_local') => {\n  const pontosUsuarioTexto = pontosUsuario.length\n    ? `Pontos solicitados pelo usuario: ${pontosUsuario.join('; ')}.`\n    : 'Sem pontos adicionais informados pelo usuario.';\n\n  const sintese = `Trata-se de contestacao referente ao processo ${numeroProcesso}, proposta por ${autor} em face de ${reu}, no contexto de ${tipoAcao}.`;\n  const fundamentos = `Com base nos fatos informados (${fatos}), impugna-se a narrativa autoral e requer-se a improcedencia dos pedidos, preservando contraditorio e ampla defesa. ${pontosUsuarioTexto}`;\n  const pedidos = `Requer-se: (i) recebimento da contestacao; (ii) improcedencia dos pedidos autorais (${pedidoAutor}); (iii) producao de provas em direito admitidas.`;\n  const observacoesModelo = modeloMaeTexto\n    ? 'Modelo-mae identificado e sinalizado para revisao humana.'\n    : 'Sem modelo-mae explicito. Estrutura padrao aplicada.';\n\n  const minutaBase = [\n    'I - Sintese da Demanda',\n    sintese,\n    '',\n    'II - Fundamentos de Defesa',\n    fundamentos,\n    '',\n    'III - Pedidos',\n    pedidos,\n    '',\n    textoEditado ? 'IV - Pontos do Usuario\\n' + textoEditado : '',\n    textoPeticaoBase ? 'V - Trechos da Peticao Base (analise textual)\\n' + textoPeticaoBase.slice(0, 1500) : '',\n    'VI - Observacoes',\n    observacoesModelo,\n  ]\n    .filter(Boolean)\n    .join('\\n\\n');\n\n  return {\n    json: {\n      status: 'ok',\n      mensagem: 'Contestacao processada em modo fallback local do agente.',\n      numero_processo: numeroProcesso,\n      protocolo_n8n: `N8N-${Date.now()}`,\n      gatilhos_acionados: gatilhosAcionados,\n      regras_aplicadas: [...regrasAplicadas, 'Fallback local sem chamada externa'],\n      engine_ia: {\n        provider: 'fallback_local',\n        model: 'deterministico',\n        motivo: reason,\n      },\n      classificacao: classificacaoEntrada,\n      auditoria_execucao: auditoriaExecucao,\n      infra: {\n        modelo_configurado: OPENAI_MODEL,\n        banco_provider: DB_PROVIDER,\n        banco_tabela: DB_TABLE,\n        banco_campo_status: DB_STATUS_FIELD,\n        persistencia: 'realizada_no_backend',\n      },\n      minuta: {\n        texto_base: minutaBase,\n        secoes: {\n          sintese,\n          fundamentos,\n          pedidos,\n        },\n        resumo_estrategico: 'Minuta base gerada localmente para revisao humana.',\n        tese_central: 'Impugnacao dos pedidos autorais e pedido de improcedencia.',\n        pontos_atendidos: pontosUsuario,\n        riscos: ['Sem IA externa ativa: revisar fundamentacao legal manualmente.'],\n      },\n      auditoria: {\n        modelo_mae_utilizado: Boolean(modeloMaeTexto),\n        peticao_base_lida: Boolean(textoPeticaoBase),\n        pontos_usuario_identificados: pontosUsuario.length,\n        arquivo_base_nome: arquivoNome || '',\n      },\n      contexto: {\n        autor,\n        reu,\n        tipo_acao: tipoAcao,\n      },\n      recebido_em: new Date().toISOString(),\n    },\n  };\n};\n\nif (OPENAI_FREE_TEST_MODE) {\n  return [buildFallbackDraft('modo_teste_gratis')];\n}\n\nif (!OPENAI_API_KEY) {\n  return [buildFallbackDraft('OPENAI_API_KEY_nao_configurada')];\n}\n\nconst stripMarkdownFences = (value) => {\n  const trimmed = normalize(value);\n  if (!trimmed.startsWith('```')) return trimmed;\n  return trimmed\n    .replace(/^```(?:json)?\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n};\n\nconst parseModelJson = (value) => JSON.parse(stripMarkdownFences(value));\n\nconst systemPrompt = [\n  'Voce e um agente juridico especialista em contestacoes civeis no Brasil.',\n  'Sua tarefa e redigir minuta de contestacao para revisao humana.',\n  'Aplique as regras: objetividade, clareza, sem inventar fatos, sem inventar jurisprudencia ou citacoes numericas especificas.',\n  'Se MODELO_MAE existir, preserve estilo e estrutura de secoes do modelo.',\n  'Se TEXTO_PETICAO_BASE existir, identifique os pontos centrais da peticao e responda tecnicamente.',\n  'Priorize os pontos solicitados pelo usuario em texto_editado_ao_vivo.',\n  'Responda SOMENTE JSON valido com as chaves:',\n  '{\"resumo_estrategico\":\"...\",\"tese_central\":\"...\",\"pontos_atendidos\":[\"...\"],\"sintese\":\"...\",\"fundamentos\":\"...\",\"pedidos\":\"...\",\"observacoes\":\"...\",\"riscos\":[\"...\"]}',\n  'Nao use markdown.',\n].join(' ');\n\nconst userPayload = {\n  numero_processo: numeroProcesso,\n  autor,\n  reu,\n  tipo_acao: tipoAcao,\n  fatos,\n  pedido_autor: pedidoAutor,\n  pontos_usuario: pontosUsuario,\n  texto_editado_ao_vivo: textoEditado,\n  texto_peticao_base: textoPeticaoBase,\n  modelo_mae_texto: modeloMaeTexto,\n};\n\nconst requestBody = {\n  model: OPENAI_MODEL,\n  temperature: OPENAI_TEMPERATURE,\n  max_output_tokens: OPENAI_MAX_OUTPUT_TOKENS,\n  input: [\n    {\n      role: 'system',\n      content: [{ type: 'input_text', text: systemPrompt }],\n    },\n    {\n      role: 'user',\n      content: [{ type: 'input_text', text: `CASO_JSON:\\n${JSON.stringify(userPayload, null, 2)}` }],\n    },\n  ],\n};\n\nconst controller = new AbortController();\nconst timeoutHandle = setTimeout(() => controller.abort(), OPENAI_TIMEOUT_MS);\n\nlet openaiPayload = {};\n\ntry {\n  const response = await fetch(`${OPENAI_BASE_URL}/responses`, {\n    method: 'POST',\n    headers: {\n      Authorization: `Bearer ${OPENAI_API_KEY}`,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify(requestBody),\n    signal: controller.signal,\n  });\n\n  openaiPayload = await response.json().catch(() => ({}));\n\n  if (!response.ok) {\n    const detail = normalize(openaiPayload?.error?.message) || `HTTP_${response.status}`;\n    throw new Error(`OpenAI API falhou: ${detail}`);\n  }\n} catch (error) {\n  clearTimeout(timeoutHandle);\n  const reason = normalize(error?.message, 'erro_openai').slice(0, 160);\n  return [buildFallbackDraft(reason)];\n}\n\nclearTimeout(timeoutHandle);\n\nconst outputParts = [];\nif (typeof openaiPayload?.output_text === 'string' && openaiPayload.output_text.trim()) {\n  outputParts.push(openaiPayload.output_text);\n}\n\nif (Array.isArray(openaiPayload?.output)) {\n  for (const block of openaiPayload.output) {\n    if (!Array.isArray(block?.content)) continue;\n    for (const contentItem of block.content) {\n      const candidateText =\n        normalize(contentItem?.text) ||\n        normalize(contentItem?.output_text) ||\n        normalize(contentItem?.input_text);\n      if (candidateText) outputParts.push(candidateText);\n    }\n  }\n}\n\nconst rawModelText = outputParts.join('\\n').trim();\nif (!rawModelText) {\n  return [buildFallbackDraft('resposta_openai_sem_conteudo')];\n}\n\nlet modelData = {};\ntry {\n  modelData = parseModelJson(rawModelText);\n} catch {\n  return [buildFallbackDraft('resposta_openai_nao_json')];\n}\n\nconst sinteseIa =\n  clip(modelData.sintese, 10000) ||\n  `Trata-se de contestacao referente ao processo ${numeroProcesso}, proposta por ${autor} em face de ${reu}, no contexto de ${tipoAcao}.`;\n\nconst fundamentosIa =\n  clip(modelData.fundamentos, 15000) ||\n  `Com base nos fatos informados (${fatos}), impugna-se a narrativa autoral e requer-se a improcedencia dos pedidos.`;\n\nconst pedidosIa =\n  clip(modelData.pedidos, 8000) ||\n  `Requer-se o recebimento da contestacao e a improcedencia do pedido autoral (${pedidoAutor}).`;\n\nconst observacoesIa = clip(modelData.observacoes, 6000);\nconst resumoEstrategico = clip(modelData.resumo_estrategico, 3000) || 'Defesa gerada por IA para revisao humana.';\nconst teseCentral = clip(modelData.tese_central, 2000) || 'Improcedencia dos pedidos autorais.';\n\nconst pontosAtendidos = Array.isArray(modelData.pontos_atendidos)\n  ? modelData.pontos_atendidos.map((item) => normalize(item)).filter(Boolean).slice(0, 12)\n  : pontosUsuario;\n\nconst riscos = Array.isArray(modelData.riscos)\n  ? modelData.riscos.map((item) => normalize(item)).filter(Boolean).slice(0, 6)\n  : ['Revisar fundamentos e provas antes do protocolo.'];\n\nconst minutaBase = [\n  'I - Sintese da Demanda',\n  sinteseIa,\n  '',\n  'II - Fundamentos de Defesa',\n  fundamentosIa,\n  '',\n  'III - Pedidos',\n  pedidosIa,\n  '',\n  pontosUsuario.length ? 'IV - Pontos Solicitados pelo Usuario\\n- ' + pontosUsuario.join('\\n- ') : '',\n  observacoesIa ? 'V - Observacoes do Agente de IA\\n' + observacoesIa : '',\n  riscos.length ? 'VI - Riscos e Pontos de Atencao\\n- ' + riscos.join('\\n- ') : '',\n]\n  .filter(Boolean)\n  .join('\\n\\n');\n\nreturn [\n  {\n    json: {\n      status: 'ok',\n      mensagem: 'Contestacao processada pelo agente de IA com regras completas.',\n      numero_processo: numeroProcesso,\n      protocolo_n8n: `N8N-${Date.now()}`,\n      gatilhos_acionados: gatilhosAcionados,\n      regras_aplicadas: [...regrasAplicadas, 'Resposta estruturada em JSON para integracao com backend/frontend'],\n      engine_ia: {\n        provider: 'openai',\n        model: OPENAI_MODEL,\n        endpoint: `${OPENAI_BASE_URL}/responses`,\n        temperature: OPENAI_TEMPERATURE,\n        max_output_tokens: OPENAI_MAX_OUTPUT_TOKENS,\n      },\n      classificacao: classificacaoEntrada,\n      auditoria_execucao: auditoriaExecucao,\n      infra: {\n        modelo_configurado: OPENAI_MODEL,\n        banco_provider: DB_PROVIDER,\n        banco_tabela: DB_TABLE,\n        banco_campo_status: DB_STATUS_FIELD,\n        persistencia: 'realizada_no_backend',\n      },\n      minuta: {\n        texto_base: minutaBase,\n        secoes: {\n          sintese: sinteseIa,\n          fundamentos: fundamentosIa,\n          pedidos: pedidosIa,\n        },\n        resumo_estrategico: resumoEstrategico,\n        tese_central: teseCentral,\n        pontos_atendidos: pontosAtendidos,\n        riscos,\n      },\n      auditoria: {\n        modelo_mae_utilizado: Boolean(modeloMaeTexto),\n        peticao_base_lida: Boolean(textoPeticaoBase),\n        pontos_usuario_identificados: pontosUsuario.length,\n        arquivo_base_nome: arquivoNome || '',\n      },\n      contexto: {\n        autor,\n        reu,\n        tipo_acao: tipoAcao,\n      },\n      recebido_em: new Date().toISOString(),\n    },\n  },\n];"
        },
        "id": "node-agente-ia-contestacao",
        "name": "Agente IA Contestacao",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          760,
          280
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{$input.first().json}}",
          "options": {}
        },
        "id": "node-responder",
        "name": "Responder",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          980,
          280
        ]
      }
    ],
    "connections": {
      "Webhook Contestacao": {
        "main": [
          [
            {
              "node": "Orquestrador Regras Contestacao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Orquestrador Regras Contestacao": {
        "main": [
          [
            {
              "node": "Classificador Entrada Contestacao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agente IA Contestacao": {
        "main": [
          [
            {
              "node": "Responder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responder": {
        "main": []
      },
      "Classificador Entrada Contestacao": {
        "main": [
          [
            {
              "node": "Agente IA Contestacao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "7bd9f6ac-938b-4ec4-ba76-a227aa85df89",
    "activeVersionId": "7bd9f6ac-938b-4ec4-ba76-a227aa85df89",
    "versionCounter": 50,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-03-24T21:14:59.985Z",
        "createdAt": "2026-03-24T21:14:59.985Z",
        "role": "workflow:owner",
        "workflowId": "WF_AUTOJURI_CONTESTACAO",
        "projectId": "PZTI0u3d5DyYhW9k",
        "project": {
          "updatedAt": "2026-03-24T21:32:07.240Z",
          "createdAt": "2026-03-17T19:06:01.678Z",
          "id": "PZTI0u3d5DyYhW9k",
          "name": "RAFAEL  CAVALCANTI MONTENEGRO <rafacm2005@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "01fc428a-4a62-47b1-88c1-88e3e28a9b3c"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]